.container{
    margin-top: 45px;
}

.editar{
    background-color: green;
    border-color: whitesmoke;
}

.eliminar{
    background-color: red;
    border-color: whitesmoke;
}

h3{
    text-align: center;
    color: blue;
}

p{
    text-align: center;
    font-weight: bold;
}

.card{
    margin-top: 15px;
}